# ============ #
# OS generated #
# ============ #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ====== #
# Binary #
# ====== #

*.exe
*.app
*.out
[Bb]uild/

# =============== #
# Unity generated #
# =============== #

Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #

ExportedObj/
obj/
Assembly-*	
*.sln
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.unityproj
*.booproj


# -> For Unity 4.3


LICENSE.meta
README.md.meta
